@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$main-text-font: 'Montserrat';
$primary-color: #ff9900;
$second-color: #00a2ff;
$hover-color: #0065a0;
$min-width: 900px;